.lwc-icon {
  display: block;
  background: url('../static/lwc_icon.svg');

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}
